{
    "presets": [
        "@babel/preset-react"
    ],
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env",
                "@babel/preset-react"
            ],
            "plugins": [
                "@babel/plugin-proposal-export-default-from",
                "@babel/plugin-proposal-export-namespace-from"
            ],
            "only": [
                "./**/*.js",
                "node_modules/jest-runtime"
            ]
        }
    }
}
