.fc {
    font-family: "Helvetica Neue",Helvetica,"Segoe UI",Verdana,"san-serif";
}
.fc-dropdownmenu-button {
    margin-right: 3px;
    margin-top: 3px;
}
.fc-dropdownmenu-contextmenu {
    position: absolute;
    background-color: white;
    z-index: 20002;
    padding: 5px;
    box-shadow: 0 1px 10px #0005;
}
.fc-dropdownmenu-contextmenu-item {
    padding: 5px;
    cursor: pointer;
}
.fc-dropdownmenu-contextmenu-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
    top: 0;
}
.fc-dropdownmenu-button {
    padding: 7px 10px;
    opacity: .8;
    cursor: pointer;
}
.fc-dropdownmenu-button:hover {
    opacity: 1;
}
.fc-button-color-secondary {
    color: blue;
}
.fc-button-color-primary {
    color: blue;
}
.fc-group-settings-row {
    display: flex;
}
.fc-button-add:before {
    margin: 3px;
    width: 30px;
    height: 30px;
    content: '+';
    font-size: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: green;
    cursor: pointer;
}
.fc-button-remove:before {
    margin: 3px;
    width: 30px;
    height: 30px;
    content: '\00d7';
    font-size: 26px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
    cursor: pointer;
}
.fc-value-editor {
    margin: 3px;
    padding: 0 3px;
}